@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared styles */
.btn-primary{
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: 8px;
  padding: 20px;
width: 180px;
height: 64px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
/* letter-spacing: 0%; */
text-align: center;

}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

/* nav styles */

.banner,.nav-items{
  max-width: 1440px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items h3{
font-size: 45px;
font-weight: 700;
}

.nav-items li{
  list-style: none;
  gap: 50px;
}
.nav-items ul{
  display: flex;
  gap: 50px;
  text-decoration: none;

}

.nav-items a{
  text-decoration: none;
  color: rgb(66, 66, 66);
}
/* banner */
.banner{
  margin: 0 auto;
  max-width: 1440px;
}
.banner-item{
  max-width: 846px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.banner h1{
  color: rgb(19, 19, 19);
/* font-family: Work Sans; */
font-size: 64px;
font-weight: 700;
/* letter-spacing: 0%; */
/* text-align: center; */


}
.banner p{
  color: rgb(114, 114, 114);

font-size: 16px;
font-weight: 400;
/* text-align: center; */
}
.banner-img{
  margin-top: 50px;
  width: 100%;
}

.team-feature{
  display: flex;max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  gap: 73px;
}
.team-img{
  display: flex;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  margin-top: 85px;
  gap: 24px;
}
.team-feature-description{
 max-width: 536px;
}
.team-feature-description h1{
  color: rgb(114, 114, 114);
font-size: 45px;
font-weight: 700;
}
/* color */
.dark{
  color: rgb(19, 19, 19);
}
.orange{
  color:rgb(255, 144, 14);
}
.gray{
  color: rgb(114, 114, 114);
  font-weight: 400;
  font-size: 16px;
}


@media screen and (max-width: 576px) {
.nav-items,.team-feature,.nav-items ul{
    flex-direction: column;
    align-items: center;
    text-align: center;
   margin: 0 auto;
   padding: 0;
  }
  .team-img{
    grid-template-columns: 1fr;
  }
.team-feature{
justify-items: center;
}
  .team-feature-description{
    margin: 10px;
    /* align-items: center; */
    text-align: center;
  }
}